{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": 0,
    "linebreak-style": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "no-console": "off",
    "max-len": [2, 150, 4, {"ignoreUrls": true}],
    "operator-linebreak": "off"
  },
  "extends": [
    "eslint:recommended", "google"
  ]
}
